:root{
    font-size: 12px;
}
.parent{
    display: flex;
    /*height:30%;*/
    /*align-content: flex-start;*/
    flex-direction: column;
   /* align-content: space-between;*/
    }
/*.my-list-style{
    margin-left: 40px;*/
ul.my-list-style1{

flex-direction: column;
/*align-content: space-between;*/
}

h1 span {
        display: block;
    }
    .heading{
        background-color: #FAEBD7;
        border-color: green;       
    }
    h1 span.major {
        font-size:2rem;
        font-weight: bold;
    }
    .sub-heading{
        background-color: red;
        font: 2rem arial, sans-serif;

    }
    #subchild{
    background: yellow;
    display:flex;
    flex-direction: column;
    flex-basis:40%;
    align-content: space-between;
    /*flex-direction: row;
    align-items: center;}*/
}
    #subchild1 {
    background: #cccccc;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    flex-basis:40%;
    margin-bottom: 30px
    /*flex-direction: column*/
    /*justify-content: space-around;*/
     /*flex-direction: row;
    align-items: flex-start;*/
    /*background-image:url("Myhobbies.jpg");
    background-repeat: no-repeat*/
}

#child{
    padding: 10px 10px 20px 10px; 
    display: flex;
flex-direction: row;
/*flex-wrap: wrap;*/
        flex-basis:40%;

}

    h1 span.major1 {
        font-size: 2rem;
        font-style: bold;
        margin: 30px 50px 75px 100px;
    }   
     h1 span.major2 {
        font-size: 2rem;
        font-style: italic;
        margin: 25px 50px 75px 100px;
    }
     ul.my-list-style,ul.my-list-style1 {
    list-style-type:none;
    color: #0000FF;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font:normal bold 12px/30px Georgia, serif;

    /*background-color: rgb(201, 76, 76);*/
    /*padding: 50px 20px 20px 40px;*/
  
}
.my-image {    
    border: 1px solid #ddd;
    border-radius: 4px;
    /*flex-basis:  20px;*/
    padding: 5px;
    width: 5vw;
    flex-direction: row;
    
    
/*flex-direction:column-reverse;*/
    
}
h1.major3{
    font-size: 2rem;
        font-style: bold;
        margin: 10px 20px 15px 50px;
}
img.my-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
@media screen and  (max-width: 725px) {
    .parent {
        flex-direction: column;
        align-content: space-between;
    }
    .parent .image {
        order: -1;
        /*justify-content: space-around;*/
    }
    .parent .my-image {

        width: 60vw;
    }
}


